<script src="/assets/modernizr.custom.js"></script>
<div class="container">
	<section class="grid-wrap">
		<ul class="grid swipe-down" id="grid">
			<li><a href="#"><%= image_tag("by1.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by2.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("subway.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by4.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by5.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by6.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by7.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by8.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by9.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by10.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by11.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by12.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by1.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by2.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by3.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by4.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by5.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by6.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by7.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by8.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by9.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by1.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by9.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by7.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by5.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by3.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by5.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by7.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by3.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by1.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by12.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by2.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by9.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by4.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by6.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by5.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by3.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by8.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by9.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by6.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by3.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by3.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by2.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by8.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by7.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by6.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by5.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by4.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by2.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by3.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by7.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by5.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by3.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by2.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by6.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by5.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by8.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by1.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by2.jpg") %><h3>A fantastic title</h3></a></li>
			<li><a href="#"><%= image_tag("by9.jpg") %><h3>A fantastic title</h3></a></li>
		</ul>
	</section>
</div><!-- /container -->
<script src="/assets/masonry.pkgd.min.js"></script>
<script src="/assets/imagesloaded.pkgd.min.js"></script>
<script src="/assets/classie.js"></script>
<script src="/assets/colorfinder-1.1.js"></script>
<script src="/assets/gridScrollFx.js"></script>
<script>
	new GridScrollFx( document.getElementById( 'grid' ), {
		viewportFactor : 0.4
	} );
</script>
